*.txt
*.csv
build
.zig-cache
zig-cache
zig-out
.cache
lib
measurements.csv
shared/icm20948/.zig-cache/
shared/icm20948/zig-out/
main/includeDirs.txt
controller/credentials.h
controller/icp/Book1.xlsx
controller/icp/plot.py
